<section class="hero-section">
        <div class="owl-carousel mobile-slider" id="banner-slider">
           <div class="item slide-1">
              <div class="container">
                 <div class="row">
                    <div class="col-md-12 col-lg-6 col-xl-5">
                       <h1 class="wow fadeInUp" data-wow-delay="0.3s">Petopus</h1>
                       <h3 class="wow fadeInUp" data-wow-delay="0.4s">The Best Social Network For Pets And Their Lovers</h3>
                       <a href="javascript:void(0)" class="btn btn-primary wow fadeInUp" data-wow-delay="0.5s">Login to continue</a>
                    </div>
                 </div>
              </div>
           </div>
           <div class="item slide-2">
              <div class="container">
                 <div class="row" style="align-items: flex-end;">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                       <h2 class="main-heading">Petopus</h2>
                       <p class="mb-20">A platform where pet owners, pet lovers and pet professionals have friendly social networking relationship</p>
                       <a href="javascript:void(0)" class="btn btn-primary">Login to continue</a>
                       <hr />
                       <p>The friendliest platform for pet lovers</p>
                    </div>
                    <div class="col-xl-5">
                       <p>“An animal's eyes have the power to speak a great language”</p>
                    </div>
                 </div>
                 <div class="card low-mood">
                    <h4>Low Mood</h4>
                    <p>Your Buddy will always bring Joy to you</p>
                 </div>
                 <div class="card low-mood buddy-life">
                    <h4>Buddy for Life</h4>
                    <p>Brave, protective, reliable…. The true Buddy for life</p>
                 </div>
              </div>
           </div>
           <div class="item slide-3">
              <div class="container">
                 <div class="row" style="align-items: flex-end;">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                       <h2 class="main-heading">Petopus</h2>
                       <p class="mb-20">A great place for pet professionals to grow and develop a friendly social networking relationship</p>
                       <a href="javascript:void(0)" class="btn btn-primary">Login to continue</a>
                       <hr />
                       <p>Be connected and build your success</p>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-5">
                       <p>“An animal's eyes have the power to speak a great language”</p>
                       <div class="card low-mood">
                          <h4>Loving care</h4>
                          <p>The best caregiver for your best friend</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
</section>