<main class="home">
   <!-- Hero section -->
   <section class="hero-section banner-slider">
      <owl-carousel-o [options]="bannerSliderOptions" class="mobile-slider" id="banner-slider">
         <ng-template carouselSlide>
            <div class="item slide-1">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12 col-lg-6 col-xl-5">
                        <h1 class="wow fadeInUp" data-wow-delay="0.3s">{{ 'home.Herosection' | translate }}</h1>
                        <h3 class="wow fadeInUp" data-wow-delay="0.4s">
                           {{ 'home.Herosection1' | translate }}
                        </h3>
                        <a href="javascript:void(0)" class="btn btn-primary wow fadeInUp" data-wow-delay="0.5s">
                           {{ 'home.Herosection2' | translate }}
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </ng-template>

         <ng-template carouselSlide>
            <div class="item slide-2">
               <div class="container">
                  <div class="row" style="align-items: flex-end">
                     <div class="col-md-8 col-lg-6 col-xl-5">
                        <h2 class="main-heading">{{ 'home.Herosection' | translate }}</h2>
                        <p class="mb-20">
                           {{ 'home.Herosection3' | translate }}
                        </p>
                        <a href="javascript:void(0)" class="btn btn-primary">
                           {{ 'home.Herosection2' | translate }}
                        </a>
                        <hr />
                        <p>{{'home.Herosection4' | translate}}</p>
                     </div>
                     <div class="col-xl-5">
                        <p>
                           {{ 'home.Herosection5' | translate }}
                        </p>
                     </div>
                  </div>
                  <div class="card low-mood">
                     <h4>{{ 'home.Herosection6' | translate }}</h4>
                     <p>{{ 'home.Herosection7' | translate }}</p>
                  </div>
                  <div class="card low-mood buddy-life">
                     <h4>{{ 'home.Herosection8' | translate }}</h4>
                     <p>{{ 'home.Herosection9' | translate }}</p>
                  </div>
               </div>
            </div>
         </ng-template>

         <ng-template carouselSlide>
            <div class="item slide-3">
               <div class="container">
                  <div class="row" style="align-items: flex-end">
                     <div class="col-md-8 col-lg-6 col-xl-5">
                        <h2 class="main-heading">{{ 'home.Herosection' | translate }}</h2>
                        <p class="mb-20">
                           {{ 'home.Herosection10' | translate }}
                        </p>
                        <a href="javascript:void(0)" class="btn btn-primary"> {{ 'home.Herosection2' | translate }}</a>
                        <hr />
                        <p> {{ 'home.Herosection11' | translate }}</p>
                     </div>
                     <div class="col-md-12 col-lg-6 col-xl-5">
                        <p>
                           {{ 'home.Herosection12' | translate }}
                        </p>
                        <div class="card low-mood">
                           <h4>{{ 'home.Herosection13' | translate }}</h4>
                           <p>{{ 'home.Herosection14' | translate }}</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </ng-template>
      </owl-carousel-o>
   </section>

   <!-- Our Partner -->
   <section class="our-partner">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-md-12 col-lg-8 col-xl-5 text-center">
               <h2 class="main-heading wow fadeInUp" data-wow-delay="0.3s">
                  {{ 'home.Ourpartners' | translate }}
               </h2>
               <p class="sub-heading wow fadeInUp" data-wow-delay="0.4s">
                  {{ 'home.Ourpartner1' | translate }}
               </p>
            </div>
         </div>

         <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8 col-xl-6">
               <owl-carousel-o [options]="ourPartnerSliderOptions" class="mt-4 wow fadeInUp">
                  <ng-template carouselSlide>
                     <div class="item">
                        <a href="javascript:void(0)">
                           <img src="assets/images/partner/1.png" alt="partner" />
                        </a>
                     </div>
                  </ng-template>

                  <ng-template carouselSlide>
                     <div class="item">
                        <a href="javascript:void(0)">
                           <img src="assets/images/partner/2.png" alt="partner" />
                        </a>
                     </div>
                  </ng-template>

                  <ng-template carouselSlide>
                     <div class="item">
                        <a href="javascript:void(0)">
                           <img src="assets/images/partner/3.png" alt="partner" />
                        </a>
                     </div>
                  </ng-template>

                  <ng-template carouselSlide>
                     <div class="item">
                        <a href="javascript:void(0)">
                           <img src="assets/images/partner/1.png" alt="partner" />
                        </a>
                     </div>
                  </ng-template>

                  <ng-template carouselSlide>
                     <div class="item">
                        <a href="javascript:void(0)">
                           <img src="assets/images/partner/2.png" alt="partner" />
                        </a>
                     </div>
                  </ng-template>

                  <ng-template carouselSlide>
                     <div class="item">
                        <a href="javascript:void(0)">
                           <img src="assets/images/partner/3.png" alt="partner" />
                        </a>
                     </div>
                  </ng-template>
               </owl-carousel-o>
            </div>
         </div>
      </div>
   </section>

   <!-- Latest product -->
   <section class="feature-section">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8 text-center">
               <h2 class="main-heading wow fadeInDown" data-wow-delay="0.3s">
                  {{ 'home.Latestproduct' | translate }}
               </h2>
               <p class="sub-heading mb-5 wow fadeInUp" data-wow-delay="0.4s">
                  {{ 'home.Latestproduct1' | translate }}
                  <br class="d-none d-md-block mb-5" />
                  {{ 'home.Latestproduct2' | translate }}
               </p>
            </div>
         </div>
         <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
               <div class="row align-items-center">
                  <div class="col-md-4">
                     <img class="img-fluid desktop-img wow fadeInLeft" data-wow-delay="0.5s"
                        src="assets/images/our-feature/1.png" alt="mobile" />
                  </div>
                  <div class="col-md-8">
                     <div class="d-flex wow fadeInUp" data-wow-delay="0.4s">
                        <div class="flex-shrink-0">
                           <span class="icon-pin"></span>
                        </div>
                        <div class="flex-grow-1 ms-3">
                           <h5>{{ 'home.Latestproduct3' | translate }}</h5>
                           <p>
                              {{ 'home.Latestproduct4' | translate }}
                           </p>
                        </div>
                     </div>
                     <div class="d-flex wow fadeInUp" data-wow-delay="0.5s">
                        <div class="flex-shrink-0">
                           <span class="icon-bobble"></span>
                        </div>
                        <div class="flex-grow-1 ms-3">
                           <h5>{{ 'home.Latestproduct5' | translate }}</h5>
                           <p>{{ 'home.Latestproduct6' | translate }}</p>
                        </div>
                     </div>
                     <div class="d-flex wow fadeInUp" data-wow-delay="0.6s">
                        <div class="flex-shrink-0">
                           <span class="icon-star"></span>
                        </div>
                        <div class="flex-grow-1 ms-3">
                           <h5>{{ 'home.Latestproduct7' | translate }}</h5>
                           <p>
                              {{ 'home.Latestproduct8' | translate }}
                           </p>
                        </div>
                     </div>
                     <div class="text-center mobile-img">
                        <img src="assets/images/our-feature/1.png" alt="" />
                     </div>
                     <div class="d-flex wow fadeInUp" data-wow-delay="0.7s">
                        <div class="flex-shrink-0">
                           <span class="icon-group"></span>
                        </div>
                        <div class="flex-grow-1 ms-3">
                           <h5>{{ 'home.Latestproduct10' | translate }}</h5>
                           <p>{{ 'home.Latestproduct11' | translate }}</p>
                        </div>
                     </div>
                     <div class="d-flex wow fadeInUp" data-wow-delay="0.8s">
                        <div class="flex-shrink-0">
                           <span class="icon-event"></span>
                        </div>
                        <div class="flex-grow-1 ms-3">
                           <h5>{{ 'home.Latestproduct12' | translate }}</h5>
                           <p>{{ 'home.Latestproduct13' | translate }}</p>
                        </div>
                     </div>
                     <div class="d-flex wow fadeInUp" data-wow-delay="0.9s">
                        <div class="flex-shrink-0">
                           <span class="icon-viewing"></span>
                        </div>
                        <div class="flex-grow-1 ms-3">
                           <h5>{{ 'home.Latestproduct14' | translate }}</h5>
                           <p>{{ 'home.Latestproduct15' | translate }}</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row mt-5">
            <div class="col-md-12 text-center">
               <h2 class="main-heading pt-5 wow fadeInUp" data-wow-delay="0.8s">
                  {{ 'home.Latestproduct16' | translate }}
               </h2>
               <p class="sub-heading mb-5 wow fadeInUp" data-wow-delay="0.9s">
                  {{ 'home.Latestproduct17' | translate }} <br />
                  {{ 'home.Latestproduct18' | translate }}
               </p>
            </div>
         </div>
      </div>
   </section>
   <!-- Our services -->
   <section class="our-services">
      <div class="container">
         <div class="row justify-content-center feature-block">
            <div class="col-md-12 col-lg-10 col-xl-8">
               <div class="row">
                  <div class="col-md-4 image-icon">
                     <div class="card mt-4 wow fadeInUp card-hover" data-wow-delay="0.3s">
                        <div class="card-body">
                           <span class="icon-block"> <i class="icon-chat"></i> </span>
                           <h4> {{ 'home.OurService' | translate }}</h4>
                           <p>
                              {{ 'home.OurService1' | translate }}
                           </p>
                           <a href="javascript:void(0)">
                              <img alt="image" src="./assets/images/icons8-right-arrow-30.png"></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 image-icon">
                     <div class="card mt-4 wow fadeInUp card-hover" data-wow-delay="0.4s">
                        <div class="card-body">
                           <span class="icon-block"> <i class="icon-group"></i> </span>
                           <h4>{{ 'home.OurService2' | translate }}</h4>
                           <p>
                              {{ 'home.OurService3' | translate }}
                           </p>
                           <a href="javascript:void(0)">
                              <img alt="image" src="./assets/images/icons8-right-arrow-30.png"></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 text-center">
                     <img class="img-fluid feature-mobile-1 wow fadeInUp" data-wow-delay="0.5s"
                        src="assets/images/our-feature/2.png" alt="mobile" />
                  </div>
               </div>
            </div>
         </div>
         <div class="row justify-content-center feature-block">
            <div class="col-md-12 col-lg-10 col-xl-8">
               <div class="row">
                  <div class="col-md-4 order-3 order-md-1 text-center image-icon">
                     <img class="img-fluid feature-block-2 wow fadeInUp" data-wow-delay="0.6s"
                        src="assets/images/our-feature/3.png" alt="mobile" />
                  </div>
                  <div class="col-md-4 order-1 order-md-2 image-icon">
                     <div class="card mt-4 wow fadeInUp card-hover" data-wow-delay="0.7s">
                        <div class="card-body">
                           <span class="icon-block"> <i class="icon-images"></i> </span>
                           <h4>{{ 'home.OurService4' | translate }}</h4>
                           <p>
                              {{ 'home.OurService5' | translate }}
                              > </p>
                           <a href="javascript:void(0)">
                              <img alt="image" src="./assets/images/icons8-right-arrow-30.png">
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 order-2 order-md-3 image-icon">
                     <div class="card mt-4 wow fadeInUp card-hover" data-wow-delay="0.8s">
                        <div class="card-body">
                           <span class="icon-block">
                              <i class="icon-notification"></i>
                           </span>
                           <h4>{{ 'home.OurService6' | translate }}</h4>
                           <p>
                              {{ 'home.OurService7' | translate }}
                           </p>
                           <a href="javascript:void(0)"><img alt="image"
                                 src="./assets/images/icons8-right-arrow-30.png"></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Favorite Devices -->
   <section class="favorite-devices">
      <div class="container">
         <div class="row justify-content-center feature-block feature-block-3">
            <div class="col-md-12 col-lg-10 col-xl-8">
               <div class="row">
                  <div class="col-md-4 image-icon">
                     <div class="card mt-4 wow fadeInUp card-hover" data-wow-delay="0.9s">
                        <div class="card-body">
                           <span class="icon-block"><i class="icon-nearby"></i></span>
                           <h4>{{ 'home.Favoritedevice' | translate }}</h4>
                           <p>
                              {{ 'home.Favoritedevice1' | translate }}
                           </p>
                           <a href="javascript:void(0)"><img alt="image"
                                 src="./assets/images/icons8-right-arrow-30.png"></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 image-icon">
                     <div class="card mt-4 wow fadeInUp card-hover" data-wow-delay="1s">
                        <div class="card-body">
                           <span class="icon-block"><i class="icon-play"></i></span>
                           <h4>{{ 'home.Favoritedevice2' | translate }}</h4>
                           <p>
                              {{ 'home.Favoritedevice3' | translate }}
                           </p>
                           <a href="javascript:void(0)"><img alt="image"
                                 src="./assets/images/icons8-right-arrow-30.png"></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4 text-center">
                     <img class="img-fluid feature-mobile-3 wow fadeInUp" data-wow-delay="1.2s"
                        src="assets/images/our-feature/1.png" alt="mobile" />
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 text-center">
               <h2 class="main-heading mt-4 wow fadeInDown" data-wow-delay="0.4s">
                  {{ 'home.Favoritedevice4' | translate }}
               </h2>
               <p class="sub-heading wow fadeInUp" data-wow-delay="0.5s">
                  {{ 'home.Favoritedevice5' | translate }} <br />
                  {{ 'home.Favoritedevice6' | translate }}
               </p>
               <div class="d-lg-block">
                  <img class="img-fluid wow fadeInUp" data-wow-delay="0.6s" src="assets/images/desktop.png"
                     alt="desktop" />
                  <img class="img-fluid laptop wow fadeInLeft" data-wow-delay="0.8s" src="assets/images/laptop.png"
                     alt="laptop" />
                  <img class="img-fluid tablet wow fadeInRight" data-wow-delay="1s" src="assets/images/tablet.png"
                     alt="tablet" />
                  <img class="img-fluid mobile wow fadeInUp" data-wow-delay="1.2s" src="assets/images/mobile.png"
                     alt="mobile" />
               </div>
               <img class="img-fluid d-lg-none fadeInUp" data-wow-delay="0.5s" src="assets/images/device.png"
                  alt="device" />
            </div>
         </div>
      </div>
   </section>
   <!-- Find Professionals -->
   <section class="find-section">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12 col-xl-9 text-center">
               <ul class="device-list">
                  <li class="wow fadeInUp device-list-hover" data-wow-delay="0.6s">
                     <span class="icon-user"></span>
                     <p>{{ 'home.Finalprofessional' | translate }}</p>
                  </li>
                  <li class="wow fadeInUp device-list-hover" data-wow-delay="0.7s">
                     <span class="icon-devices"></span>
                     <p>{{ 'home.Finalprofessional1' | translate }}</p>
                  </li>
                  <li class="wow fadeInUp device-list-hover" data-wow-delay="0.8s">
                     <span class="icon-secure"></span>
                     <p>{{ 'home.Finalprofessional2' | translate }}</p>
                  </li>
               </ul>
               <h2 class="main-heading wow fadeInUp" data-wow-delay="0.9s">
                  {{ 'home.Finalprofessional3' | translate }}
               </h2>
               <p class="sub-heading wow fadeInUp" data-wow-delay="1s">
                  {{ 'home.Finalprofessional4' | translate }}
               </p>
            </div>
         </div>

         <div class="row">
            <div class="col-md-12">
               <ul class="about-pet wow fadeInUp" data-wow-delay="1.1s">
                  <li class="device-list-hover">
                     <span class="icon-ngo"></span>
                     <p>{{ 'home.Finalprofessional5' | translate }}</p>
                  </li>
                  <li class="device-list-hover">
                     <span class="icon-health"></span>
                     <p>{{ 'home.Finalprofessional6' | translate }}</p>
                  </li>
                  <li class="device-list-hover">
                     <span class="icon-pet"></span>
                     <p>
                        {{ 'home.Finalprofessional7' | translate }} <br />
                        {{ 'home.Finalprofessional8' | translate }}
                     </p>
                  </li>
               </ul>

               <div class="position-relative wow fadeInUp" data-wow-delay="0.5s">
                  <div class="mobile-mockup text-center">
                     <img src="assets/images/find/mobile.png" alt="" />
                  </div>
                  <div class="swiper-container text-center mt-4 wow fadeInUp" data-wow-delay="0.6s">
                     <div class="swiper-wrapper">
                        <div class="swiper-slide">
                           <img src="assets/images/find/1.png" alt="mobile" />
                        </div>
                        <div class="swiper-slide">
                           <img src="assets/images/find/2.png" alt="mobile" />
                        </div>
                        <div class="swiper-slide">
                           <img src="assets/images/find/3.png" alt="mobile" />
                        </div>
                        <div class="swiper-slide">
                           <img src="assets/images/find/4.png" alt="mobile" />
                        </div>
                        <div class="swiper-slide">
                           <img src="assets/images/find/7.png" alt="mobile" />
                        </div>
                        <div class="swiper-slide">
                           <img src="assets/images/find/6.png" alt="mobile" />
                        </div>
                        <div class="swiper-slide">
                           <img src="assets/images/find/5.png" alt="mobile" />
                        </div>
                     </div>
                     <div class="text-center mt-4">
                        <div class="swiper-button-prev">
                           <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="swiper-button-next">
                           <i class="fa fa-angle-right"></i>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- Slider main container -->
               <!-- <div class="position-relative wow fadeInUp" data-wow-delay="0.5s">
                  <div class="mobile-mockup text-center">
                     <img src="assets/images/mobile-empty.png" alt="">
                  </div>

                  <div class="swiper-container text-center mt-4 wow fadeInUp" data-wow-delay="0.6s">
                     <owl-carousel-o [options]="swiperSliderOptions" class="swiper-wrapper">
                        <ng-template carouselSlide>
                           <div class="swiper-slide">
                              <img src="assets/images/find/1.png" alt="mobile">
                           </div>
                        </ng-template>

                        <ng-template carouselSlide>
                           <div class="swiper-slide">
                              <img src="assets/images/find/2.png" alt="mobile">
                           </div>
                        </ng-template>

                        <ng-template carouselSlide>
                           <div class="swiper-slide">
                              <img src="assets/images/find/3.png" alt="mobile">
                           </div>
                        </ng-template>

                        <ng-template carouselSlide>
                           <div class="swiper-slide">
                              <img src="assets/images/find/4.png" alt="mobile">
                           </div>
                        </ng-template>

                        <ng-template carouselSlide>
                           <div class="swiper-slide">
                              <img src="assets/images/find/5.png" alt="mobile">
                           </div>
                        </ng-template>

                        <ng-template carouselSlide>
                           <div class="swiper-slide">
                              <img src="assets/images/find/6.png" alt="mobile">
                           </div>
                        </ng-template>

                        <ng-template carouselSlide>
                           <div class="swiper-slide">
                              <img src="assets/images/find/7.png" alt="mobile">
                           </div>
                        </ng-template>
                     </owl-carousel-o>
                  </div>
               </div> -->
            </div>
         </div>
      </div>
   </section>
   <!-- Members Love -->
   <section class="member-section">
      <div class="container">
         <div class="row">
            <div class="col-md-12 text-center">
               <h2 class="main-heading wow fadeInUp" data-wow-delay="0.4s">
                  {{'home.Membarlove' | translate}}
               </h2>
               <p class="sub-heading wow fadeInUp" data-wow-delay="0.5s">
                  {{'home.Membarlove1' | translate}}
               </p>
            </div>
         </div>
         <div class="row justify-content-center mt-5">
            <div class="col-md-6 text-center">
               <div class="demo">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                           <div id="testimonial-slider" class="owl-carousel">
                              <div class="testimonial">
                                 <p class="description">
                                    {{'home.Membarlove2' | translate}}
                                 </p>
                                 <h3 class="title"> {{'home.Membarlove3' | translate}}</h3>
                                 <span class="post"> {{'home.Membarlove4' | translate}}</span>
                              </div>
                              <div class="testimonial">
                                 <p class="description">
                                    {{'home.Membarlove2' | translate}}
                                 </p>
                                 <h3 class="title"> {{'home.Membarlove5' | translate}}</h3>
                                 <span class="post"> {{'home.Membarlove6' | translate}}</span>
                              </div>
                              <div class="testimonial">
                                 <p class="description">
                                    {{'home.Membarlove2' | translate}}
                                 </p>
                                 <h3 class="title"> {{'home.Membarlove7' | translate}}</h3>
                                 <span class="post"> {{'home.Membarlove8' | translate}}</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

               <owl-carousel-o [options]="memberSliderOptions">
                  <ng-template carouselSlide>
                     <div class="item wow fadeInUp" data-wow-delay="0.6s">
                        <div class="position-relative quote-img">
                           <img src="assets/images/members/1.png" alt="members" />
                           <span class="quote-icon"><img src="assets/images/icons/quote.svg" alt="quote" /></span>
                        </div>
                        <p>
                           {{'home.Membarlove9' | translate}}
                        </p>
                        <div class="rating">
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning-light"></i>
                        </div>
                        <h2> {{'home.Membarlove10' | translate}}</h2>
                        <h4> {{'home.Membarlove11' | translate}}</h4>
                     </div>
                  </ng-template>

                  <ng-template carouselSlide>
                     <div class="item">
                        <div class="position-relative quote-img">
                           <img src="assets/images/members/1.png" alt="members" />
                           <span class="quote-icon"><img src="assets/images/icons/quote.svg" alt="quote" /></span>
                        </div>
                        <p>
                           {{'home.Membarlove9' | translate}}
                        </p>
                        <div class="rating">
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning-light"></i>
                        </div>
                        <h2> {{'home.Membarlove10' | translate}}</h2>
                        <h4> {{'home.Membarlove11' | translate}}</h4>
                     </div>
                  </ng-template>

                  <ng-template carouselSlide>
                     <div class="item">
                        <div class="position-relative quote-img">
                           <img src="assets/images/members/1.png" alt="members" />
                           <span class="quote-icon"><img src="assets/images/icons/quote.svg" alt="quote" /></span>
                        </div>
                        <p>
                           {{'home.Membarlove9' | translate}}
                        </p>
                        <div class="rating">
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning-light"></i>
                        </div>
                        <h2> {{'home.Membarlove10' | translate}}</h2>
                        <h4> {{'home.Membarlove11' | translate}}</h4>
                     </div>
                  </ng-template>

                  <ng-template carouselSlide>
                     <div class="item">
                        <div class="position-relative quote-img">
                           <img src="assets/images/members/1.png" alt="members" />
                           <span class="quote-icon"><img src="assets/images/icons/quote.svg" alt="quote" /></span>
                        </div>
                        <p>
                           {{'home.Membarlove9' | translate}}
                        </p>
                        <div class="rating">
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning"></i>
                           <i class="fa fa-star text-warning-light"></i>
                        </div>
                        <h2> {{'home.Membarlove10' | translate}}</h2>
                        <h4> {{'home.Membarlove11' | translate}}</h4>
                     </div>
                  </ng-template>
               </owl-carousel-o>
            </div>
         </div>
      </div>
   </section>

   <!-- <div class="section-row-container reviews-section-container">
      <div class="inner-container">
         <h2>People Loves Petopus</h2>

         <p>
            Platform where professionals, pet owners and guests, get together for the good of their pets
         </p>

         <div class="reviews-section">
            <div class="review-content">
               <owl-carousel-o [options]="memberSliderOptions">
                  <ng-template carouselSlide>
                     <div class="single-review-content">
                        <img class="profile-img" src="./assets/images/review-logo.svg" alt="">

                        <p>
                           Access the platform from all your devices. It is secure,
                           easy to use, and friendly. It is a platform where
                           professionals, pet owners and guests, get together for the
                           good of their pets
                        </p>

                        <h3>John Doe</h3>
                     </div>
                  </ng-template>

                  <ng-template carouselSlide>
                     <div class="single-review-content">
                        <img class="profile-img" src="./assets/images/review-logo.svg" alt="">

                        <p>Access the platform from all your devices. It is secure,
                           easy to use, and friendly. It is a platform where
                           professionals, pet owners and guests, get together for the
                           good of their pets
                        </p>

                        <h3>John Doe</h3>
                     </div>
                  </ng-template>

                  <ng-template carouselSlide>
                     <div class="single-review-content">
                        <img class="profile-img" src="./assets/images/review-logo.svg" alt="">

                        <p>Access the platform from all your devices. It is secure,
                           easy to use, and friendly. It is a platform where
                           professionals, pet owners and guests, get together for the
                           good of their pets
                        </p>

                        <h3>John Doe</h3>
                     </div>
                  </ng-template>

                  <ng-template carouselSlide>
                     <div class="single-review-content">
                        <img class="profile-img" src="./assets/images/review-logo.svg" alt="">

                        <p>Access the platform from all your devices. It is secure,
                           easy to use, and friendly. It is a platform where
                           professionals, pet owners and guests, get together for the
                           good of their pets
                        </p>

                        <h3>John Doe</h3>
                     </div>
                  </ng-template>

                  <ng-template carouselSlide>
                     <div class="single-review-content">
                        <img class="profile-img" src="./assets/images/review-logo.svg" alt="">

                        <p>Access the platform from all your devices. It is secure,
                           easy to use, and friendly. It is a platform where
                           professionals, pet owners and guests, get together for the
                           good of their pets
                        </p>

                        <h3>John Doe</h3>
                     </div>
                  </ng-template>

                  <ng-template carouselSlide>
                     <div class="single-review-content">
                        <img class="profile-img" src="./assets/images/review-logo.svg" alt="">

                        <p>Access the platform from all your devices. It is secure,
                           easy to use, and friendly. It is a platform where
                           professionals, pet owners and guests, get together for the
                           good of their pets
                        </p>

                        <h3>John Doe</h3>
                     </div>
                  </ng-template>
               </owl-carousel-o>
            </div>
         </div>
      </div>
   </div> -->
</main>