<footer>
   <div class="container">
      <div class="row">
         <div class="col-md-12 order-2 order-md-1">
            <div class="row email-block text-center">
               <div class="col-md-12">
                  <h2 class="main-heading wow fadeInUp" data-wow-delay="0.4s">Subscribe To Our Newsletter</h2>
                  <p class="sub-heading wow fadeInUp" data-wow-delay="0.5s">Get notification about tips, new features
                     and exclusive promo news just for you.</p>
                  <form class="position-relative wow fadeInUp" data-wow-delay="0.6s">
                     <input type="text" class="form-control" placeholder="Enter your email address">
                     <button type="submit" class="btn btn-primary">Subscibe</button>
                     <i class="icon-mail"></i>
                  </form>
                  <!-- Images -->
                  <img class="ellipse" src="assets/images/footer/ellipse.png" alt="ellipse">
                  <img class="ellipse-2" src="assets/images/footer/ellipse-2.png" alt="ellipse-2">
                  <img class="subtract" src="assets/images/footer/subtract.png" alt="subtract">
                  <img class="line-sm" src="assets/images/footer/line-sm.png" alt="line-sm">
               </div>
            </div>
         </div>
      </div>
   </div>
   <img class="line" src="assets/images/footer/line.png" alt="line">
</footer>
<div class="copy-right">
   <div class="container">
      <div class="row text-center">
         <div class="col-sm-6 col-md-4  p-15">
            <a class="footer-links">
               About Us
            </a>
         </div>
         <div class="col-sm-6 col-md-4  p-15">
            <a class="footer-links">
               Contact Us
            </a>
         </div>
         <div class="col-sm-6 col-md-4  p-15">
            <a class="footer-links">
               Sponsofhip & Partners
            </a>
         </div>
         <div class="col-sm-6 col-md-4  p-15">
            <a class="footer-links">
               Invite a friend
            </a>
         </div>
         <div class="col-sm-6 col-md-4  p-15">
            <a class="footer-links">
               Help & Support
            </a>
         </div>
         <div class="col-sm-6 col-md-4  p-15">
            <a class="footer-links">
               Feedback
            </a>
         </div>
         <div class="col-sm-6 col-md-4  p-15">
            <a class="footer-links">
               Privacy Policy
            </a>
         </div>
         <div class="col-sm-6 col-md-4  p-15">
            <a class="footer-links">
               Term of use & Condition
            </a>
         </div>
      </div>
      <div class="row p-15">
         <div class="col-md-12 text-center">
            <p>
               @2023 Pet Opus Inc. All Right Reserved
            </p>
         </div>
      </div>
   </div>
</div>