.footer-links {
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.footer-links:hover {
  color: rgb(76, 57, 57);
}

.pl-15 {
  /* padding-right: 30px; */
}

.span {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}
