<main>
   <!-- Hero section -->
   <section class="hero-section feature-bg about-section">
      <div class="container">
         <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-5">
               <h2 class="wow fadeInLeft" data-wow-delay="0.3s">Our Features</h2>
               <h4 class="wow fadeInUp" data-wow-delay="0.4s">Promote your business with a passionate community of pet
                  lovers.</h4>
               <a href="javascript:void(0)" class="btn btn-primary wow fadeInUp" data-wow-delay="0.5s">Login to
                  continue</a>
               <img class="img-fluid d-lg-none mt-4 wow fadeInUp" data-wow-delay="0.3s"
                  src="assets/images/feature/dog.png" alt="dog">
            </div>
         </div>
      </div>
   </section>
   <!-- Great Feature -->
   <section class="feature section-padding">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8 col-xl-6 text-center">
               <h2 class="main-heading wow fadeInUp" data-wow-delay="0.3s">Great Features</h2>
               <p class="sub-heading mb-5 wow fadeInUp" data-wow-delay="0.4s">Petopus is the most friendly social
                  network built with the latest technology for pets, pet lovers and professionals.</p>
            </div>
         </div>
         <div class="row justify-content-center align-items-center">
            <div class="col-md-5 order-2 order-md-1">
               <img class="img-fluid wow fadeInLeft" data-wow-delay="0.5s" src="assets/images/feature/group.png"
                  alt="group">
               <h2 class="main-heading wow fadeInUp" data-wow-delay="0.6s">Group</h2>
               <p class="wow fadeInUp" data-wow-delay="0.7s">Create group with pet lovers who have same interest as you.
                  Create activities within your group and share funny moment.</p>
            </div>
            <div class="col-md-5 offset-md-1 order-1 order-md-2 text-center-mb">
               <img class="img-fluid my-4 px-5 wow fadeInLeft" data-wow-delay="0.6s" src="assets/images/feature/1.png"
                  alt="group">
            </div>
         </div>
      </div>
   </section>
   <!-- Swipe Profile -->
   <section class="feature section-padding bg-light">
      <div class="container">
         <div class="row justify-content-center align-items-center">
            <div class="col-md-5 col-lg-5">
               <img class="img-fluid wow fadeInLeft" data-wow-delay="0.3s" src="assets/images/feature/profile.png"
                  alt="profile">
            </div>
            <div class="col-md-6 offset-md-1 col-lg-5 offset-lg-1">
               <h2 class="main-heading wow fadeInUp" data-wow-delay="0.4s">Swipe Profile</h2>
               <p class="wow fadeInUp" data-wow-delay="0.5s">Every pet has its own identity. Create up to 5 different
                  pet profiles and manage them at a finger point.</p>
            </div>
         </div>
      </div>
   </section>
   <!-- Discover -->
   <section class="feature section-padding">
      <div class="container">
         <div class="row justify-content-center align-items-center">
            <div class="col-md-5 order-2 order-md-1">
               <h2 class="main-heading wow fadeInUp" data-wow-delay="0.3s">Discover</h2>
               <img class="img-fluid wow fadeInUp" data-wow-delay="0.4s" src="assets/images/feature/nearby.png"
                  alt="nearby">
               <h2 class="main-heading wow fadeInUp" data-wow-delay="0.5s">Nearby</h2>
               <p class="wow fadeInUp" data-wow-delay="0.6s">Discover pet events, parks, and activities in your
                  neighborhood. Great way to socialize your pet</p>
            </div>
            <div class="col-md-5 offset-md-1 order-1 order-md-2 text-center-mb">
               <img class="img-fluid px-5 wow fadeInLeft" data-wow-delay="0.5s" src="assets/images/feature/discover.png"
                  alt="discover">
            </div>
         </div>
      </div>
   </section>
   <!-- Notification Alert -->
   <section class="feature noti-alert section-padding bg-light">
      <div class="container">
         <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-lg-5 text-center-lg">
               <h2 class="main-heading wow fadeInUp" data-wow-delay="0.3s">Lost & Found Color Notification Alert</h2>
               <p class="wow fadeInUp" data-wow-delay="0.4s">Get help from the community to find your lovely pet with
                  color notification, no sound, buzz or clink-clank. Just perfect.</p>
               <a href="javascript:void(0)" class="btn btn-primary wow fadeInUp" data-wow-delay="0.5s">Learn More</a>
            </div>
            <div class="col-md-8 col-lg-6 noti-alert-inner wow fadeInLeft" data-wow-delay="0.5s">
               <div class="card">
                  <div class="card-header">
                     <h5>Your current Alert</h5>
                     <a href="javascript:void(0)" class="btn btn-outline-primary">Create Alert</a>
                  </div>
                  <div class="card-body">
                     <img src="assets/images/feature/cat.png" alt="Cat">
                     <div>
                        <h4>Lost My Cat Joeda</h4>
                        <p>
                           I lost my cat joeda. She is new to the area. She has a microchio but no color.
                        </p>
                        <p>
                           Please check your garage and sheds in case she is there. You can find Joeda profile here <a
                              href="javascript:void(0)">petopus/Joeda</a>
                        </p>
                        <!-- <p class="d-lg-none">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p> -->
                        <a href="javascript:void(0)" class="btn btn-primary">Alert Details</a>
                        <!-- <a href="javascript:void(0)" class="btn btn-primary d-lg-none">View Details</a>  -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Pet Health Car -->
   <section class="feature section-padding">
      <div class="container">
         <div class="row justify-content-center align-items-center">
            <div class="col-md-5 col-lg-5 order-2 order-md-1">
               <img class="img-fluid mt-30 wow fadeInLeft" data-wow-delay="0.3s"
                  src="assets/images/feature/pet-health.png" alt="Health">
            </div>
            <div class="col-md-6 offset-md-1 col-lg-5 offset-md-1 order-1 order-md-2">
               <h2 class="main-heading wow fadeInUp" data-wow-delay="0.4s">Pet Health Care And Service Providers</h2>
               <p class="wow fadeInUp" data-wow-delay="0.5s">Veterinarians, Pet sitters, Pet Groomers, Pet Trainers, Dog
                  Walkers or any pet friendly professional. Petopus is where to find the best pet health cares and
                  service providers.</p>
               <a href="javascript:void(0)" class="btn btn-primary d-mb-none wow fadeInUp" data-wow-delay="0.6s">Learn
                  More</a>
            </div>
         </div>
      </div>
   </section>
   <!-- Local Businesse -->
   <section class="feature section-padding bg-light">
      <div class="container">
         <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8 text-center">
               <h2 class="main-heading wow fadeInUp" data-wow-delay="0.3s">Local Businesses Oriented</h2>
               <p class="sub-heading wow fadeInUp" data-wow-delay="0.4s">Petopus empower local business and boost your
                  success</p>
               <img class="img-fluid d-md-none my-4" src="assets/images/feature/business.png" alt="business">
            </div>
         </div>
         <div class="row justify-content-center align-items-center">
            <div class="col-md-6 col-lg-6 text-center-mb">
               <h2 class="main-heading wow fadeInUp" data-wow-delay="0.5s">Post Events, Announces, Appointments And More
               </h2>
               <p class="wow fadeInUp" data-wow-delay="0.6s">You are local, small or big, Post events, announces,
                  appointments and more. Promote your business with the friendliest community of pet lovers and enjoy
                  success as never before.</p>
               <a href="javascript:void(0)" class="btn btn-primary wow fadeInUp" data-wow-delay="0.7s">Learn More</a>
            </div>
            <div class="col-md-6 col-lg-5">
               <img class="img-fluid d-mb-none wow fadeInUp" data-wow-delay="0.5s"
                  src="assets/images/feature/business.png" alt="business">
            </div>
         </div>
      </div>
   </section>
   <!-- Pet Health -->
   <section class="article-section feature section-padding">
      <div class="container">
         <div class="row justify-content-center align-items-center">
            <div class="col-md-5 wow fadeInLeft" data-wow-delay="0.3s">
               <div class="card">
                  <img class="img-fluid" src="assets/images/feature/article.png" alt="article">
                  <div class="card-body">
                     <h4>Intelligent Dog <span>26 March 2020</span></h4>
                     <h6><strong>By John Heist</strong> (Pet Therapist)</h6>
                     <p>Dogs have demonstrated they can learn and do complex things we have never..</p>
                     <p class="text-right">
                        <a href="javascript:void(0)" class="icon"><img src="assets/images/feature/chat.png"
                              alt="chat"></a>
                        <a href="javascript:void(0)" class="icon"><img src="assets/images/feature/share.png"
                              alt="share"></a>
                     </p>
                     <a href="javascript:void(0)" class="btn btn-primary">Subscribe</a>
                  </div>
               </div>
            </div>
            <div class="col-md-5 offset-md-1">
               <h2 class="main-heading mt-30 wow fadeInUp" data-wow-delay="0.4s">Articles</h2>
               <p class="wow fadeInUp" data-wow-delay="0.5s">Publishes articles that value your skills and make your
                  business known with awesome community. Great way to create smart connection with your customers</p>
               <a href="javascript:void(0)" class="btn btn-primary wow fadeInUp" data-wow-delay="0.6s">Learn More</a>
            </div>
         </div>
      </div>
   </section>
   <!-- Review That Matter -->
   <section class="feature section-padding bg-light">
      <div class="container">
         <div class="row justify-content-center align-items-center">
            <div class="col-md-6 col-lg-5 order-2 order-md-1 text-center-mb">
               <h2 class="main-heading wow fadeInUp" data-wow-delay="0.3s">Review That Matter</h2>
               <p class="wow fadeInUp" data-wow-delay="0.4s">Get constructive review from your customers who Know your
                  services and build the most successful business relationship.</p>
               <a href="javascript:void(0)" class="btn btn-primary wow fadeInUp" data-wow-delay="0.5s">Learn More</a>
            </div>
            <div class="col-md-6 col-lg-5 offset-lg-1 order-1 order-md-2">
               <img class="img-fluid wow fadeInUp" data-wow-delay="0.5s" src="assets/images/feature/review.png"
                  alt="review">
            </div>
         </div>
      </div>
   </section>
</main>